* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-family: 'PT Serif', serif; */
  color: #333;
  font-size: 20px;
  line-height: 1.4;
  background-color: #2c3e50;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  cursor: pointer;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.wrapper {
  background-color: #34495e;
border-radius: 5px;

  padding: 2em;
}

#text {
  background-color: #2c3e50;
  border: none;
  padding: 1em;
  color: #fff;
  font-size: 3em;
  text-align: center;
  font-weight: 500;
    margin-bottom: 2em;
    width: 250px;
    text-shadow: 2px 2px 0px orange;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  gap: 1em;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 51%;
  cursor: pointer;
}

#plus,
#minus {
  background-color: #2ecc71;
  border: none;
  color: #fff;
  font-size: 1em;
}

#minus {
  background-color: #c0392b;
}
